# Data Question 1

#### 3 & 4) Imports Cell and Magic Command

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm

%matplotlib inline

#### 5) Read GDP Dataset into notebook as gdp_df

In [17]:
gdp_df = pd.read_csv("../data/gdp_per_capita.csv", skipfooter = 2, engine = 'python')

#### 5a) View the first 10 rows

In [13]:
gdp_df.head(10)

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2018  1734.723214              NaN
1     Afghanistan  2017  1758.465636              NaN
2     Afghanistan  2016  1757.023490              NaN
3     Afghanistan  2015  1766.593077              NaN
4     Afghanistan  2014  1795.735834              NaN
5     Afghanistan  2013  1807.762344              NaN
6     Afghanistan  2012  1772.764974              NaN
7     Afghanistan  2011  1626.764793              NaN
8     Afghanistan  2010  1671.581238              NaN
9     Afghanistan  2009  1502.354073              NaN

#### 5b) View the last 5 rows

In [18]:
gdp_df.tail()

     Country or Area  Year        Value  Value Footnotes
6724        Zimbabwe  1994  2768.309953              NaN
6725        Zimbabwe  1993  2572.870395              NaN
6726        Zimbabwe  1992  2591.007534              NaN
6727        Zimbabwe  1991  2906.272849              NaN
6728        Zimbabwe  1990  2819.549467              NaN

Originally, the tail showed two footnotes rows. To get rid of them, I used the skipfooter and engine parameters within the read csv step

#### 6a) Drop Value Footnotes column

In [19]:
gdp_df = gdp_df.drop(columns = 'Value Footnotes')

#### 6b) Rename columns to Country, Year, and GDP_Per_Capita

In [24]:
gdp_df = gdp_df.rename(columns = {"Country or Area": "Country", "Value":"GDP_Per_Capita"} )

#### 7a) How many rows and columns does gdp_df have?

In [28]:
gdp_df.shape

(6729, 3)

#### 7b) What are the data types of its columns?

In [30]:
gdp_df.dtypes

Country            object
Year                int64
GDP_Per_Capita    float64
dtype: object

#### 7c) Any column types look off? 

Yes, the country column is currently an object. We'll need to update it to a string!

In [32]:
gdp_df = gdp_df.astype({"Country": 'string'})
gdp_df.dtypes

Country            string
Year                int64
GDP_Per_Capita    float64
dtype: object

#### 8a) What years are represented in the dataset?

In [36]:
gdp_df['Year'].unique()

array([2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008,
       2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997,
       1996, 1995, 1994, 1993, 1992, 1991, 1990])

#### 8b) Look at the observations per year

In [45]:
observation_per_year = gdp_df['Year'].value_counts()
observation_per_year

2011    243
2012    241
2009    241
2010    241
2013    241
2015    240
2008    240
2014    240
2007    239
2016    239
2017    239
2005    238
2004    238
2002    238
2006    238
2003    238
2001    237
2000    236
1999    228
1998    227
2018    226
1997    226
1996    224
1995    224
1994    218
1993    215
1992    213
1991    211
1990    210
Name: Year, dtype: int64

There is not an even distribution of GDP for each date!

In [26]:
gdp_df

          Country  Year  GDP_Per_Capita
0     Afghanistan  2018     1734.723214
1     Afghanistan  2017     1758.465636
2     Afghanistan  2016     1757.023490
3     Afghanistan  2015     1766.593077
4     Afghanistan  2014     1795.735834
...           ...   ...             ...
6724     Zimbabwe  1994     2768.309953
6725     Zimbabwe  1993     2572.870395
6726     Zimbabwe  1992     2591.007534
6727     Zimbabwe  1991     2906.272849
6728     Zimbabwe  1990     2819.549467

[6729 rows x 3 columns]